html, body {
	/* overflow: hidden; */
}

.wrapper {
	margin: 15vh auto 35vh;
	width: 60vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.wrapper .slider{
	display: flex;
	flex-direction: column;
	width: 60vw;
}

.wrapper .slider .slider__mem {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 60vw;
}

.wrapper .slider .slide {
	min-width: 60vw;
	display: flex;
	justify-content: center;
}

.responsive {
	/* width: 100%; */
	/* height: auto; */
	width: auto;
	height: 40vh;
	margin: auto;
}

.slider .control-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.control-panel .visual-text {
	overflow: hidden;
}

.control-panel .descriptions {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 200px;
}

.control-panel .descriptions .description {
	min-width: 200px;
	white-space: nowrap;
}

input {
	display: none;
}

.control-panel .control label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 3px;
	background: #ccc;
	cursor: pointer;
	border: 4px solid white;
	border-radius: 50%;
	transition: background-color .2s;
}

#radio1:checked ~ .control-panel .control label[for="radio1"],
#radio2:checked ~ .control-panel .control label[for="radio2"],
#radio3:checked ~ .control-panel .control label[for="radio3"],
#radio4:checked ~ .control-panel .control label[for="radio4"],
#radio5:checked ~ .control-panel .control label[for="radio5"],
#radio6:checked ~ .control-panel .control label[for="radio6"]{
    background: black;
}

#radio1:checked ~ .slider__mem {
	transform: translate(0);
}
#radio2:checked ~ .slider__mem {
	transform: translate(-60vw);
}
#radio3:checked ~ .slider__mem {
	transform: translate(-120vw);
}
#radio4:checked ~ .slider__mem {
	transform: translate(-180vw);
}
#radio5:checked ~ .slider__mem {
	transform: translate(-240vw);
}
#radio6:checked ~ .slider__mem {
	transform: translate(-300vw);
}

#radio1:checked ~ .control-panel .visual-text .descriptions {
	transform: translate(0);
}
#radio2:checked ~ .control-panel .visual-text .descriptions {
	transform: translate(-200px);
}
#radio3:checked ~ .control-panel .visual-text .descriptions {
	transform: translate(-400px);
}
#radio4:checked ~ .control-panel .visual-text .descriptions {
	transform: translate(-600px);
}
#radio5:checked ~ .control-panel .visual-text .descriptions {
	transform: translate(-800px);
}
#radio6:checked ~ .control-panel .visual-text .descriptions {
	transform: translate(-1000px);
}
